#target/
/target/
/src/test/
#!.mvn/wrapper/maven-wrapper.jar
#!**/src/main/**/target/
#**/src/test/**/target/
/src/main/java/org/
/src/main/java/mod_test*/
/src/main/java/mod_01*/
/src/main/java/mod_05*/
/src/main/java/mod_06*/
/src/main/java/mod_07*/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
.idea
*.iws
*.iml
*.ipr
*.xml

gson-2.10.1.jar
.gitignore

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store